body {
  font-family: Arial, sans-serif;
  font-size: 15px;
}

.collapsible {
  background-color: #b63116;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active {
  background-color: #555;
}

.collapsible:hover, .collapsible-confirm:hover {
  background-color: #666;
}

.content {
  padding: 20px 18px;
  display: none;
  overflow: hidden;
  overflow-x: scroll;
  background-color: #f1f1f1;
}

.collapsible::after, .collapsible-confirm::after {
  content: '+';
  font-size: 15px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active::after {
  color: white;
  content: "-";
}

.grid-container-hand {
  display: grid;
  width: 370px;
  grid-gap: 15px;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: 40px;
  background-color: #cc3719;
  padding: 10px;
}

.grid-item-hand {
  background-color: rgba(254, 249, 231, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
}

.selected {
  outline: 3px solid rgba(255, 255, 0, 0.8);
}

.name-change-button {
  margin-left: 35px;
}

.bag-button {
  margin-left: 15px;
}

.action-button {

}

.player-button {
  font-weight: bold;
  white-space: pre-wrap;
  width: 426px;
}

.bag-img-container {
  position: relative;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.bag-img-base {
  display: block;
  max-width:100%;
  max-height:100%;

}

.bag-img-overlay {
  position: absolute;
  top: 0;
  max-width:100%;
  max-height:100%;
}

.tiles-status {
  text-align: center;
  padding-top: 15px;
}

.grid-container-page {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 425px 25% 425px;
  grid-template-rows: 250px 250px;
  justify-content: center;
}

.grid-item-page-bag {
  grid-area: 1 / 2 / 3 / 2;
}

.grid-item-page-player {
}

@media only screen and (max-width: 1180px) {
  .grid-container-page {
    display: flex;
    flex-direction: column;
 }
  .grid-item-page-player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .grid-item-page-bag { grid-row: 5; grid-column: 1; padding-top: 20px; }
}
