body {
  font-family: sans-serif;
  font-size: 15px;
}

.collapsible, .collapsible-confirm {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover, .collapsible-confirm:hover {
  background-color: #555;
}

.content {
  padding: 20px 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible::after, .collapsible-confirm::after {
  content: '+';
  font-size: 15px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active::after {
  color: white;
  content: "-";
}

.grid-container {
  display: grid;
  width: 370px;
  grid-gap: 15px;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: 40px;
  background-color: #E75A3D;
  padding: 10px;
}

.grid-item {
  background-color: rgba(254, 249, 231, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
}

.selected {
  outline: 3px solid rgba(255, 255, 0, 0.8);
}

.name-change-button {
  margin-left: 35px;
}

.action-button {

}

.player-button {
  font-weight: bold;
}

.tile-color {
  background-color: #CAA274
}
