body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.banner {
  width: 100%;
  height: auto;
  background-color: hsl(10.1, 78.4%, 28%);
  margin-bottom: 50px;
}

.banner h1 {
  margin: 0;
  padding: 20px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: clamp(40ch, 60%, 90ch);
  margin: auto;
}

.tagline {
  display: flex;
  justify-content: center;
}

.tagline h2 {
  margin-top: 0;
  margin-right: 5%;
  margin-left: 5%;
}

.text-box h3 {
  margin-bottom: 4px;
}

.text-box p {
  margin-top: 0;
}

.text-box p:first-child {
  margin-top: revert;
}

.new-game-bag {
  width: 38ch;
}

.new-game-box-container {
  display: flex;
  justify-content: center;
}

.new-game-box {
  position: relative;
}

.bag-controls {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 49%;
  top: 58%;
  display: flex;
}

.credit-box {
  margin-top: 300px;
}

.collapsible {
  background-color: #b63116;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active {
  background-color: #555;
}

.collapsible:hover, .collapsible-confirm:hover {
  background-color: #666;
}

.content {
  padding: 20px 18px;
  display: none;
  overflow: hidden;
  overflow-x: scroll;
  background-color: #f1f1f1;
}

.collapsible::after, .collapsible-confirm::after {
  content: '+';
  font-size: 15px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active::after {
  color: white;
  content: "-";
}

.grid-container-hand {
  display: grid;
  max-width: 378px;
  grid-gap: 15px;
  grid-template-columns: repeat(7, 40px) 1px; /* extra little bumper for scrolling to work ok */
  grid-template-rows: 40px;
  background-color: #cc3719;
  /* padding top and bottom, borders on sides. For scrolling to work with a bumper */
  padding: 10px 0;
  border-right: 10px solid #cc3719;
  border-left: 10px solid #cc3719;
  overflow-x: scroll;
}

.grid-item-hand {
  background-color: rgba(254, 249, 231, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
}

.selected {
  outline: 3px solid rgba(255, 255, 0, 0.8);
}

.name-change-button {
  margin-left: 35px;
}

.bag-button {
  margin-left: 15px;
}

.player-button {
  font-weight: bold;
  white-space: pre-wrap;
  width: 100%;
}

.bag-img-container {
  position: relative;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.bag-img-base {
  display: block;
  max-width:100%;
  max-height:100%;

}

.bag-img-overlay {
  position: absolute;
  top: 0;
  max-width:100%;
  max-height:100%;
}

.tiles-status {
  text-align: center;
  padding-top: 15px;
}

.grid-container-page {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 434px 25% 434px;
  grid-template-rows: 250px 250px;
  justify-content: center;
  margin: 0px 8px;
}

.grid-item-page-bag {
  grid-area: 1 / 2 / 3 / 2;
}

@media only screen and (max-width: 1180px) {
  .grid-container-page {
    display: flex;
    flex-direction: column;
 }
  .grid-item-page-player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .grid-item-page-bag { grid-row: 5; grid-column: 1; padding-top: 20px; }
  .content {
    width: calc(100% - (18px*2)); /* whole width - total horizontal padding */
  }
}
